h1{
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: beige;
}

p{
    margin: 50px;
    background-color: chocolate;
    margin-left: 500px;
    margin-right: 500px;
    font-size:xx-large;
}

#t_1{
    background-color: cadetblue;
}

.title{
    background-color: aquamarine;
}

img{
    margin: 50px;
    border: 50px, solid;
    border-color: rgb(91, 3, 255);
    border-style: solid;
}

form {
    align-items: center;
    column-count: 1;
}
